
* {
  font-family: 'Roboto', sans-serif;
}

/* LIST STYLING */

.ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head+body .ui-btn.ui-btn-a:active
{
  color:#fff;
  background-color:#f16666;
  text-shadow:none;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus
{
  box-shadow: none;
}


/* LIST STYLING */


/* FOOTER NAV BAR STYLING */

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited
{
  background-color: #1b2022;
  border-color: #2b2b2b;
  color:#fff;
}

.ui-bar-b{
  background-color:#1b2022;
}

.ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover
{
  background-color: rgb(241,102,102);
}

.ui-page-theme-b .ui-btn.ui-btn-active, html .ui-bar-b .ui-btn.ui-btn-active, html .ui-body-b .ui-btn.ui-btn-active, html body .ui-group-theme-b .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-b.ui-btn-active, .ui-page-theme-b .ui-checkbox-on:after, html .ui-bar-b .ui-checkbox-on:after, html .ui-body-b .ui-checkbox-on:after, html body .ui-group-theme-b .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-b:after, .ui-page-theme-b .ui-flipswitch-active, html .ui-bar-b .ui-flipswitch-active, html .ui-body-b .ui-flipswitch-active, html body .ui-group-theme-b .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active, .ui-page-theme-b .ui-slider-track .ui-btn-active, html .ui-bar-b .ui-slider-track .ui-btn-active, html .ui-body-b .ui-slider-track .ui-btn-active, html body .ui-group-theme-b .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-b .ui-btn-active
{
  background-color: rgb(241,102,102);
  border-color: #f16666;
  color:#fff;
}

.ui-page-theme-b a:visited, html .ui-bar-b a:visited, html .ui-body-b a:visited, html body .ui-group-theme-b a:visited
{
  color:#f16666;
}

.ui-page-theme-b .ui-btn:focus, html .ui-bar-b .ui-btn:focus, html .ui-body-b .ui-btn:focus, html body .ui-group-theme-b .ui-btn:focus, html head+body .ui-btn.ui-btn-b:focus, .ui-page-theme-b .ui-focus, html .ui-bar-b .ui-focus, html .ui-body-b .ui-focus, html body .ui-group-theme-b .ui-focus, html head+body .ui-btn-b.ui-focus, html head+body .ui-body-b.ui-focus
{
  box-shadow:none;

}

/* FOOTER NAV BAR STYLING */

/* CONTACT PAGE STYLING */

#page5{
  background-color:#1b2022;
  text-align: center;
}

#contacthead{
  color:#fff;
  text-shadow: none;
}

#textarea:focus{
  border:1px solid #f16666;
}

.ui-input-text input, .ui-input-search input
{
  background-color:#666666;
  border:none;
}
textarea.ui-input-text.ui-textinput-autogrow
{
  background-color:#666666;
  border:none;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a
{
  border-color: #666666;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus
{
  box shadow: 0 0 12px #f16666;
  border:1px solid #f16666;
}


.titles{
  color:#fff;
  text-shadow: none;
}



#submit{
  transition: all 300ms ease-in-out;
  background-color:#f16666;
  color:#fff;
  text-shadow:none;
  border-color:#f16666;
  width:90%;
  margin:auto;
  margin-top:25px;
}

#submit:focus{
  transition: all 300ms ease-in-out;
  background-color:#1d1d1d;
  color:#fff;
  text-shadow:none;
  border-color:#f16666;
  margin:auto;
  margin-top:25px;
}

#required{
  color:#777;
  text-shadow: none;
}


/* CONTACT PAGE STYLING */

#active{
  background-color: green;
}

#eventpost{
  text-shadow:none;
  width:100%;
}
iframe{
  width:100%;
}

#myevent img{
  width:300px;
  height:150px;
  display:inline-block;
}

#posttitle{
  font-size: 26px;
  text-align: center;
}


#titleheader h1{
  font-size:1em !important;
  margin:0px;
}

#eventtitleheader h1{
  font-size:1em !important;
  margin:0px;
}

#main{
  background-color:#1b2022;
}

#mast{
  color:#fff;
  text-shadow:none;
  text-align:center;
}

#menu{
  background-color:#1b2022;
}

#main-menu{
  display:flex;
  justify-content:center;
}

.ui-grid-a{
  width:100%;
  /*padding:0px 10px 0px 10px;*/
  flex-direction:row;
  flex-wrap: wrap;
  float:none;
  justify-content:center;
}


.grid{
  margin:auto;
  justify-content:center;
  width:400px;

}

div.grid{
  justify-content:center !important;
}

.block{
  display:inline !important;
  margin-right:35px;
  float:left;
  position:relative;
  left:65px;
  top:10px;
}

#icon-size{

  font-size:50px;
  background-color:#e30243;
  width:100px;
  border:none;
}

.desc{
  color:#fff;
  text-shadow:none;
  display:inline;
  position:fixed;
  text-align:center;
  margin:0px 0px 0px 25px;
}
